@font-face {
    font-family: "euroference";
    src: url('eurof76.ttf');
}

#mapid {
    margin: auto;
    margin-top: 30px;
    height: 400px;
    width: 80%;
}

#mapcaption {
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-family: "euroference";
    /*font-style: italic;
    font-weight: bold;*/
}