@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/ComicSansMSRegular.ttf');
}

body {
    text-align: center;
    font-family: 'comicsans', "Comic Sans MS", sans-serif;
    font-weight: normal;
    
    background-image: url("bg.png");
    background-repeat: repeat;
    
}

.sourcelinks:link {
    color: rgb(80, 100, 150);
}
.sourcelinks:visited {
    color: rgb(80, 100, 150);
}
.sourcelinks:hover {
    color: rgb(160, 150, 180);
}

#banner {
    height: 55px;
    margin-top: -80px;
    margin-left: -10px;
    /*opacity:0.9;*/
    /*background: url('http://66.media.tumblr.com/tumblr_lpvqxvTB9q1qffvip.gif') repeat-x left top;*/
    background: url('banner.gif') repeat-x left top;
    width: 100%; 
    position: fixed; 
    z-index: 9999;
}

#title {
    /*width: 50px;*/
    margin-top: 80px;
    /*position: relative;*/
    color: white;
    text-shadow: 1px 1px 1px #03202e;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.links {
    color: #C6BDDC;
    text-decoration: none;
    text-shadow: 1px 1px 0px #005B6D;
}

.links:hover {
    background: #005B6D;
}

#navlist {
    padding: 0px;
}

#navlist li {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    list-style: inline;
    bottom: 10px;
    display: inline-block;
}

#navlist ul {
    text-align: center;
}

.projectlinks {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 5px;
}