@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/911Fonts.com_ComicSansMSRegular__-_911fonts.com-fonts-BpCS.ttf');
}

body {
    text-align: center;
    background-color: white;
}

.button {
    position: absolute;
}

#easy {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    border: 1px solid #d02718;
    background-image: linear-gradient(to bottom, #e60000, #cd0000);
    font-family: 'comicsans', "Comic Sans MS";
    font-size: 50px;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px 1px #810d05;
    box-shadow: 5px 5px 0px #810d05;
    position: relative;
    top: 0px;
    transition: all ease 0.3s;
    
}

#easy:hover {
    background-image: linear-gradient(to top, #e60000, #cd0000);
}

#easy:active {
    position: relative;
    top: 3px;
    box-shadow: 3px 3px 0px #810d05
}

.hidden {
    display: none;
}

#confetti {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}


