html, body {
     height: 100%
}

body {
     margin: 0;
     display: flex;
     
     justify-content: center;
     align-items: center;
}

#sketch-holder {
     position: relative;
     margin: 0 auto;
     width: 400px;
     height: 400px;
}

#controls {
     position: absolute;
     justify-content: center;
     align-items: center;
     top: -25px;
     left: 66px;
}