html, body {
     height: 100%
}

@font-face {
     font-family: 'lemons can fly';
     src: url('Lemons Can Fly.ttf');
}

body {
     margin: 0;
     display: flex;
     font-family: 'lemons can fly';
     font-size: 30px;
     justify-content: center;
     align-items: center;
     -webkit-animation: pulse 40s infinite alternate;
}

#sketch-holder {
     position: relative;
     margin: 0 auto;
     width: 600px;
     height: 400px;
}

#controls {
     position: absolute;
     justify-content: center;
     align-items: center;
     top: -40px;
     left: 170px;
}

@-webkit-keyframes pulse {
     0% {background-color: #033F63;}
     25% {background-color: #28666E;}
     50% {background-color: #7C9885;}
     75% {background-color: #B5B682;}
     100% {background-color: #FEDC97;}
}

#pageTitle {
     position: absolute;
     left: 180px;
     top: -130px;
}