@font-face {
     font-family: 'tw';
     src: url('tw.ttf');
}

@font-face {
     font-family: 'tex';
     src: url('texgyreschola-regular.otf');
}

body {
     margin: 50px;
}

.new-note * {
     display: block;
}

.new-note {
     padding: 10px;
}

.note-title {
     font-family: 'tw';
     margin-bottom: 0;
}

.note-date {
     font-style: italic;
     font-family: 'tex';
     font-size: 12px;
     margin-top: 0;
     margin-bottom: 5px;
}

.note-content {
     font-family: 'tw';
     margin-top: 5px;
     padding-bottom: 10px;
}