@font-face {
     font-family: 'tw';
     src: url('tw.ttf');
}

@font-face {
     font-family: 'tex';
     src: url('tex.otf');
}

body {
     background-color: #74879E;
     font-family: 'tw';
     margin: 50px;
}

#title {
     padding-left: 10px;
     padding-right: 10px;
     width: 33.33%;
     text-align: center;
}

.new-note * {
     display: block;
     padding-top: 2px;
     padding-bottom: 3px;
     padding-right: 3px;
}

.new-note {
     padding: 10px;
     border: 1px solid black;
     width: 33.33%;
     margin-bottom: 50px;
}

.new-note-title {
     width: 100%;
}

.new-note-content {
     width: 99.5%;
}

#postButton {
     border-radius: 5px;
}

#deleteButton {
     border-radius: 5px;
}

.old-notes {
     border-color: white;
     border-width: 100px;
     border-radius: 5px;
     background-color: white;
     opacity: 0.8;
     padding: 10px;
     width: 33.33%;
}

.note-title {
     font-family: 'tw';
     margin-bottom: 0;
     word-wrap: break-word;
}

.note-date {
     font-style: italic;
     font-family: 'tex';
     font-size: 12px;
     margin-top: 0;
     margin-bottom: 5px;
}

.note-content {
     font-family: 'tw';
     margin-top: 5px;
     word-wrap: break-word;
}