@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/ComicSansMSRegular.ttf');
}

body {
    text-align: center;
    font-family: 'comicsans', "Comic Sans MS", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #461a2c;
    
    background-image: url("http://67.media.tumblr.com/ccd6564b657d03f126451fa05f3af8dd/tumblr_inline_mtjpahJTjv1s9mv75.png");
    background-repeat: repeat;
}

.centeredList {
    text-align: left;
    list-style-position: inside;
}

#skillsDiv {
    margin: auto;
    width: 320px;
}