@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/ComicSansMSRegular.ttf');
    
    /*font-family: 'silkscreen';*/
    /*src: url('web fonts/ silkscreen_normal_macroman/ slkscr-webfont.eot');*/
}

.kanye {
    width: 200px;
    margin-top: 10%;
}

/*
#banner {
    height: 55px;
    margin-top: -10px;
    margin-left: -10px;
    background: url("http://67.media.tumblr.com/tumblr_lsznmmHq7g1ql1l0v.gif") repeat-x left top;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
*/

body {
    text-align: center;
    font-family: Consolas, monaco, monospace;
    /*background-image: url("bg01.png");*/
    /*background-repeat: repeat;*/
    overflow: hidden;
}

h1 {
    font-family: 'comicsans', "Comic Sans MS", sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #461a2c;
}

p {
    color: white;
    text-shadow: 1px 1px 0px #461a2c;
}

a:link {
    /*color: #95A3A4;*/
    color: #a8bbbd;
}
a:visited {
    /*color: #95A3A4;*/
    color: #a8bbbd;
}
a:hover {
    color: #697268;
}
a:active {
    color: #4E5340;
}

::selection {
    background: #B7D1DA;
    /*color: white;*/
}

#links td {
    /*border: 1px dotted black;*/
    text-shadow: 1px 1px 1px #8c9aa1;
}

#navlist {
    padding: 0px;
}

#navlist li {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    list-style: inline;
    bottom: 10px;
    display: inline-block;
    text-shadow: 1px 1px 1px #8c9aa1;
}

#navlist ul {
    text-align: center;
}