@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/ComicSansMSRegular.ttf');
    
    /*font-family: 'silkscreen';*/
    /*src: url('web fonts/ silkscreen_normal_macroman/ slkscr-webfont.eot');*/
}

.kanye {
    width: 200px;
    margin-top: 10%;
}

/*
#banner {
    height: 55px;
    margin-top: -10px;
    margin-left: -10px;
    background: url("http://67.media.tumblr.com/tumblr_lsznmmHq7g1ql1l0v.gif") repeat-x left top;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
*/

body {
    text-align: center;
    font-family: Consolas, monaco, monospace;
    background-image: url("http://67.media.tumblr.com/e70a0da214e04e0451d7fdbe92bea124/tumblr_inline_mtjp9xxvC81s9mv75.png");
    background-repeat: repeat;
    overflow: hidden;
}

h1 {
    font-family: 'comicsans', "Comic Sans MS", sans-serif;
    color: white;
    text-shadow: 1px 1px 0px #461a2c;
}

p {
    color: white;
    text-shadow: 1px 1px 0px #461a2c;
}

#links{
    padding: 0px;
}

#links li {
    list-style: inline;
    display: inline-block;
    list-style-type: none;
}

#links ul {
    text-align: center;
}

#navlist {
    padding: 0px;
}

#navlist li {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    list-style: inline;
    bottom: 10px;
    display: inline-block;
}

#navlist ul {
    text-align: center;
}