html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: black;
    font-family: 'lemons can fly';
    color: white;
}

.big {
    font-size: 40px;
}

.smol {
    font-size: 30px;
}

#sketch-holder {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 300px;
}

#instructions {
    position: absolute;
    width: 150px;
    height: 50px;
    right: -170px;
}

#instructionss {
    position: absolute;
    width: 150px;
    height: 200px;
    text-align: center;
    right: -170px;
    top: 40px;
}

@font-face {
    font-family: 'lemons can fly';
    src: url('Lemons Can Fly.ttf');
}