@font-face {
     font-family: 'lemons can fly';
     src: url('Lemons Can Fly.ttf');
}

#veryFirstThings {
     display: block;
}

#veryFirstTitle {
     width: 250px;
     height: 40px;
     text-align: center;
     margin: auto;
}

#firstThings, #unoThings, #secondThings, #dosThings, #fddkdf, #returnButton {
     display: none;
}

#allTitles {
     width: 250px;
     height: 40px;
     text-align: center;
     margin: auto;
     font-family: 'lemons can fly';
     font-size: 25px;
}

.firstButtons, .secondButtons, .unoButtons, .dosButtons, .veryFirstButtons {
     width: 245px;
     height: 240px;
     margin: auto;
}

.firstButtons *, .secondButtons *, .unoButtons *, .dosButtons *, .veryFirstButtons * {
     width: 100px;
     height: 100px;
     margin: 10px;
}

#fddkdf, #idk {
     text-align: center;
     margin: auto;
}

#idk {
     text-align: center;
     margin: auto;
     width: 100px;
     height: 25px;
}