@font-face {
    font-family: 'comicsans';
    src: url('https://preview.c9users.io/sophieh/projects/ComicSansMSRegular.ttf');
}

body {
    text-align: center;
    font-family: 'comicsans', "Comic Sans MS", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px #461a2c;
    
    background-image: url("http://67.media.tumblr.com/ccd6564b657d03f126451fa05f3af8dd/tumblr_inline_mtjpahJTjv1s9mv75.png");
    background-repeat: repeat;
}

.centeredList {
    text-align: left;
    list-style-position: inside;
}

#skillsDiv {
    margin: auto;
    width: 320px;
}

.links {
    color: #C6BDDC;
    text-decoration: none;
    text-shadow: 1px 1px 0px #005B6D;
}

.links:hover {
    /*background: #005B6D;*/
    color: #005B6D;
}

#navlist {
    padding: 0px;
}

#navlist li {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    list-style: inline;
    bottom: 10px;
    display: inline-block;
}

#navlist ul {
    text-align: center;
}

#navlist a:link {
    color: #B8CBCC;
}