#headerdiv {
     height: 200px;
     margin: 0;
}

#headerwords {
     text-align: center;
     letter-spacing: 5px;
}

#headernavbar {
     position: fixed;
}

.navbar .navbar-nav {
     display: inline-block;
     float: none;
}

.navbar {
     text-align: center;
}