html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("http://67.media.tumblr.com/tumblr_me8agzSSsD1rajxch.png");
    background-repeat: repeat;
}