html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: '8BITWONDERNominal';
    src: url('8-bit_wonder-webfont.eot');
    src: url('8-bit_wonder-webfont.eot?#iefix') format('embedded-opentype'),
         url('8-bit_wonder-webfont.woff') format('woff'),
         url('8-bit_wonder-webfont.ttf') format('truetype'),
         url('8-bit_wonder-webfont.svg#8BITWONDERNominal') format('svg');
    font-weight: normal;
    font-style: normal;
}